:root {
  --z-background2: -10;
  --z-background: -5;
  --z-base: 0; 
  --z-foreground: 5; 
  --z-popup1: 10; 
  --z-popup2: 15; 
  --z-alert: 20; 
  --z-priority: 25; 
  --white: #fbfbfb;
}
body,html {
  margin: 0;
  padding: 0;
  z-index: var(--z-body);
}
* {
  box-sizing: border-box;
}
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.appDiv {
  margin-top:25px;
  margin-left:25px;
  position:absolute;
  width:1300px;
  height:650px;
}
.terminal {
  background-color:black;
}
.terminalWindow {
  position:relative;
  width:60vw;
  height:75vh;
  margin-top:5px;
  margin-left:5px;
  caret-color: transparent;
  background-color:black;
  /* opacity:0.95; */
}
.terminal-header-row {
  background-color: #FFF;
  color:black;
  font-family:"Sans-Serif", "Open Sans", "Noto Sans", "Serif";
  font-size:10pt;
  cursor:move;
  height:3vh;
}
.terminal-header-col {
  background-color: #FFF;
  color:black;
  height:25px;
  font-family:"Sans-Serif", "Open Sans", "Noto Sans", "Serif";
}
.terminal-input {
  width:100%;
  border: none;
  outline: none;
  resize:none;
  height:22px;
  overflow:hidden;
  background-color: black;
  color:#FFF;
  border: solid 0px black;
  border-spacing: 0;
  font-size: 12pt;
  font-family:'MesloLGS NF', 'Consolas', 'Courier New';
  height:22px;
}


.divKeyPress{
  height:100px;
  background: #000; 
  width:800px;
  padding:5px;
  margin:5px;
}
.spanInputPrompt {
  vertical-align:top;
  width:100%;
  border: none;
  outline: none;
  resize:none;
  height:22px;
  background-color: black;
  color:#FFF;
  font-size: 12pt;
  font-family:'MesloLGS NF', 'Consolas', 'Courier New';
  height:22px;
}
.textareaStart {
  margin-top:0px;
  margin-left:-7px;
  vertical-align:top;
  width:10px;
  border: none;
  outline: none;
  resize:none;
  height:22px;
  resize: none;
  /* border:none; */
  background-color:black;
  color:white;
  overflow: hidden;
  width: 1px;
  height: 20px;
  padding: 0;
  /* max-width: 980px; */
  max-width:985px;
  max-height: 50px;
  font-size: 12pt;
  font-family:'MesloLGS NF', 'Consolas', 'Courier New';
  border: solid 1px white;
  
}
.blinkingCursorStart {
  animation: blinker 1.2s linear infinite;
  vertical-align:top;
  margin-left:-8px;
  /* margin-top:-20px; */
  /* font-size:16px; */
  width:100%;
  border: none;
  outline: none;
  resize:none;
  height:22px;
  background-color: black;
  color:#FFF;
  font-size: 12pt;
  font-family:'MesloLGS NF', 'Consolas', 'Courier New';
  height:22px;
}
.textareaLong {
  resize: none;
  border:none;
  background-color:black;
  color:white;
  overflow: hidden;
  width: 800px !important;
  height: 80px !important;
  padding: 0;
  font-size: 12pt;
  font-family:'MesloLGS NF', 'Consolas', 'Courier New';
  color:white;
  flex-wrap: wrap;
  vertical-align:top;
  /* max-width: 980px; */
}

.blackBorder {
  border: solid 1px black;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
  border: solid 1px black;
}
td {
  padding: 5px;
  border: solid 0px #f1d592 !important;
}
.terminal-row {
  background-color: darkblue;
  height:50px;
  margin:5px;
  padding:5px;
}
.terminal-col {
  background-color: black;
  color:#FFF;
  height:25px;
  border: 1px solid #f1d592 !important;
  margin:5px;
  padding:5px;
}
.terminal {
  font-size: 12pt;
  font-family: monospace;
  border-spacing: 0;
  border : 0px solid black;
  background-color: black;
  color:white;
  /* opacity: 0.95; */
}
.terminal-row {
  background-color: black;
  vertical-align:top;
}
.terminal-cell {
  background-color: black;
  color:#FFF;
  font-size: 12pt;
  font-family:'MesloLGS NF', 'Consolas', 'Courier New';
}
/* table, th, td {
  padding: 0px;
  border: 0px;
  margin: 0px;
  border-spacing: 0; 
   opacity: 0.95; 
} */


.divTerminalLine {
  background: #000; 
  height:60px; 
  width:300px;
  padding:5px;
  margin:5px;
}


#scrollarea-invalid {
  overflow-y: scroll;
  height: 350px;
}
#scrollarea-content{
  min-height:101%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
[contenteditable="true"].single-line {
  white-space: nowrap;
  width:200px;
  overflow: hidden;
} 
[contenteditable="true"].single-line br {
  display:none;
}
[contenteditable="true"].single-line * {
  display:inline;
  white-space:nowrap;
}
.blinkingCursor {
  animation: blinker 1.2s linear infinite;
  vertical-align:top;
  margin-left:-10px;
  /* font-size:16px; */
}
.blinkingCursor {
  animation: blinker 1.2s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

#apigenAlert {
  display: none;
  z-index: var(--z-alert);
  color: #000000;
  border: 1px solid #aaa;
  position: fixed;
  left: 35%;
  top: 20%;
  box-sizing: border-box;
  text-align: center;
  width:25%;
  height:250px;
  background-color:#f0f0f0;
  border: 1px solid #4d6082;
  filter: drop-shadow(2px 2px 2px #4d6082);
 }
 #apigenAlertError {
  display:none;
  z-index: var(--z-alert);
  color: #000000;
  border: 1px solid #aaa;
  position: fixed;
  left: 35%;
  top: 25%;
  box-sizing: border-box;
  text-align: center;
  width:25%;
  height:200px;
  background-color:#f0f0f0;
  border: 1px solid #4d6082;
  filter: drop-shadow(2px 2px 2px #4d6082);
  font-size:10pt;
  color:black;
}
#apigenAlert button {
  background-color: #FFFFFF;
  display: inline-block;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-size:10pt;
  margin-right:10px;
  font-family:"Sans-Serif", "Serif";
  width:90px;
  height:40px;
  font-weight:600;
  filter: drop-shadow(2px 2px 1px #4d6082);
  border:1px solid #4d6082;
}
#apigenAlert .message {
  text-align: center;
}
#apigenAlertError button {
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  margin-right:10px;
  font-size:10pt;
  font-family:"Sans-Serif", "Open Sans", "Noto Sans", "Serif";
  width:90px;
  height:35px;
  font-weight:600;
  filter: drop-shadow(2px 2px 1px #4d6082);
  border:1px solid #4d6082;
}
.whiteBorder {
  border: 1px solid #ccc !important; 
}
.cyanBorder {
  border: 1px solid cyan !important; 
}
.yellowBorder {
  border: 1px solid yellow !important; 
}
.orangeBorder {
  border: 1px solid orange !important; 
}
.redBorder {
  border: 1px solid red !important; 
}