.ghbtn {
  position:relative;
  color:white;
  /* background-color:black; */
  background-color:#56555c;
  width:10.5vw;
  min-width:110px;
  height:4vh;
  min-height:20px;
  padding:0.2vh;
  border-radius:0.3rem;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.6);
  cursor:pointer;
  font-size:0.8rem !important;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ghbtn:active {
  margin-top:0.3vh;
  margin-left:0.2vw;
  box-shadow: none;
}
.logged-in {
  position:relative;
  color:white;
  background-color:black;
  width:10vw;
  min-width:110px;
  height:4vh;
  min-height:20px;
  padding:0.2vh;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.6);
  font-size:0.8rem !important;
}
.flash{
  overflow:hidden;
  border: 0px solid rgba(255, 255, 255, 0);
  transition:all .2s ease-in-out;
}
.flash:before{
  content:" ";
  display:block;
  width:200px;
  height:80px;
  background:rgba(255, 255, 255, .4);
  position:absolute;
  top:-10px;
  left:-200px;
  transform:rotate(-45deg);
  transition:all .2s ease;  
}
.flash:hover:before{
  margin-left:300%;
}

.flashlarge{
  overflow:hidden;
  border: 0px solid rgba(255, 255, 255, 0);
  transition:all .1s ease-in-out;
}
.flashlarge:before{
  content:" ";
  display:block;
  width:200px;
  height:40px;
  background:rgba(255, 255, 255, .4);
  position:absolute;
  top:-25px;
  left:-200px;
  transform:rotate(-45deg);
  transition:all 0.2s ease;  
}
.flashlarge:hover:before{
  margin-left:300%;
}

.ghsvg {
  width:1.2vw;
  min-width:12px;
  margin-left:-0.3vw;
  margin-top:0.2vh;
}
.github-span {
  position:relative;
  vertical-align:middle;
  margin-top:0px;
  cursor:pointer;
  font-size:calc(6px + 0.5vw);
  margin-left:0.3vw;
}
.github-span-logout {
  position:relative;
  vertical-align:bottom;
  margin-top:0px;
  cursor:pointer;
  font-size:calc(6px + 0.5vw);
  color:cyan;
  margin-left:0.3vw;
}
.ghlogo-large {
 margin-left:1vw;
}
.welcomeText {
  position:relative;
  color:cyan;
  position:relative;
  vertical-align:super;
  margin-top:0px;
  font-size:10pt;
}

.status-bar{
  margin-top:1vh;
  border:0px solid white;
  height:5vh;
}

.glow-container {
  position:relative;
  margin-left:10.2vw;
  margin-top:0vh;
}

.glow-container:hover { 
  cursor:pointer;
}

#divGlow {
  margin-top:-0.5vh;
}

.sign-in {
  zoom: 1.6;
  position:absolute;
  margin-top:17%;
  width:50%;
  margin-left:25%;
  border:0px solid white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}

table td {
  border:0px white solid !important;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: -webkit-radial-gradient(center, #000046 0%, #000 60%);
}
::after,
::before {
  content: " ";
  display: block;
}
::after,
::before,
.moon,
.sky,
.star,
.asteroid {
  position: absolute;
}
.moon {
  color: #ffd;
  background: radial-gradient(circle at -30% 50%, rgba(0, 0, 0, 0) 175px, currentColor 100%);
  z-index: 999;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 20px currentColor);
}
.sky {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: rotate 1000s infinite linear;
}
.star {
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: shine 1000s infinite linear;
}
.star.scale1 {
  transform: scale(1);
}
.star.scale2 {
  transform: scale(0.5);
}
.star.scale3 {
  transform: scale(1.3);
}
.star.animate1 {
  animation-duration: 0.5s;
}
.star.animate2 {
  animation-duration: 1s;
}
.star.animate3 {
  animation-duration: 1.5s;
}
.star.animate4 {
  animation-duration: 2s;
}
.star.opacity1 {
  opacity: 1;
}
.star.opacity2 {
  opacity: 0.5;
}
.star.opacity3 {
  opacity: 0.2;
}
.asteroid {
  top: -200px;
  left: -200px;
  width: 200px;
  height: 200px;
  opacity: 0.8;
  animation-name: assteroid;
  animation-timing-function: linease-inear;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-delay: 2s;
}
.asteroid:before {
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 7px 2px #fff;
  -moz-box-shadow: 0px 0px 7px 2px #fff;
  box-shadow: 0px 0px 7px 2px #fff;
  bottom: 0;
  right: 0;
}
.asteroid:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-bottom: 200px solid #fff;
  border-right: 3px solid transparent;
  bottom: -22px;
  right: 75px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1deg);
}
@keyframes shine {
  0% {
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
  }
}
@-webkit-keyframes shine {
  0% {
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes assteroid {
  0% {
    top: -200px;
    left: -200px;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
  10% {
    top: 200px;
    left: 200px;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes assteroid {
  0% {
    top: -200px;
    left: -200px;
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
  10% {
    top: 200px;
    left: 200px;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

